<div class="panel panel-primary">
  <div class="panel-heading">
    <p class="panel-title">
      {{model.topic.title}}
    </p>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        {{model.topic.author.name}}
      </div>
      <div class="col-md-8">
        {{model.topic.content}}
      </div>
    </div>
  </div>
</div>
{{#each model.topic.posts as |post|}}
  {{post.content}}
{{/each}}

{{#link-to 'section.topics.topic.new'}}New post{{/link-to}}
