<h1>Section/topics/topic/new</h1>
<form class="post-form">
  <p>
    <label for="content">Content</label>
    {{input value=model.content id="content" class="form-control"}}
  </p>

{{authManager}}
  <button {{action 'save' authManager}} id="save" class="btn btn-primary create-section-button">Save</button>
</form>

