{{#bs-modal footer=false}}
  {{#bs-modal-body}}
    <p>
      {{textarea value=model.content rows=10 class="form-control"}}
    </p>
    <button {{action 'save'}} id="save" class="btn btn-success edit-section-button">Save</button>
  {{/bs-modal-body}}
{{/bs-modal}}
