<h1>Signin</h1>

<div class="container user-signin">
  <form {{action 'authenticate' on='submit'}}>
    <label for="username">Username</label>
    {{input value=username id="username" class="form-control"}}

    <label for="password">Password</label>
    {{input id="password" placeholder="Enter password" type="password" value=password class="form-control"}}

    <button type="submit">Login</button>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
